{% extends 'layout/base.html' %}
{% block main %}
{% load static %}
<section id="middle">
</section>
<section id="main-content" class="text-white">
    <div class="subheader row justify-content-between border-1 border-bottom pb-2" style="border-color: rgba(0,0,0,0.15) !important; color: #1D2127;">
        <div class="col">
            <h3 class="subheader-title">
                <i class="fa-solid fa-list-alt bg-secundary" ></i> Listar <strong>Usuarios</strong>
            </h3>
        </div>
        <div class="col justify-content-end text-end">
            {% if request.user.is_staff %}
            <a href="/admin/auth/user/add/" class="btn btn-primary waves-effect waves-themed ">
                <span class="fas fa-plus mr-1"></span>
                <strong>Nuevo usuario</strong>
            </a>
            <!-- <a href="" class="btn btn-primary waves-effect waves-themed ">
                <span class="fas fa-plus mr-1"></span>
                <strong>Nuevo taller</strong>
            </a> -->
            {% endif %}
        </div>
    </div>
    <div class="content py-3">
        <div class="row">
            <table class="table table-striped table-hover" id="tabla-causas" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" style="font-size: 24px;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>                  
                    {% for user in users %} 
                        <tr>
                            <th scope="col">{{ user.id }} </th>
                            <th scope="col">{{ user.username }} </th>
                            <th scope="col">{{ user.first_name }} </th>
                            <th scope="col">{{ user.last_name }} </th>
                            <th scope="col">{{ user.email }}</th>
                            <th scope="col">{% if user.is_active %}Activo{% else %}Inactivo{% endif %}</th>
                            <th scope="col">
                                <!-- <a id="button-talleres" href="#" class="btn btn-labeled btn-primary py-0 px-1" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa-solid fa-pen"></i> Editar</a> -->
                                <a id="button-talleres" href='/admin/auth/user/{{ user.id }}/delete/' class="btn btn-labeled btn-primary py-0 px-1" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa-solid fa-trash" alt="Eliminar"> </i> Eliminar</a>
                            </th>
                        </tr>
                    {% endfor %}
                   

                    <!-- {% if request.user.is_staff %}
                        {% if causas %}
                            {% for c in causas %}
                            <tr>
                                <th scope="row">{{ c.nro_causa }}</th>
                                <td>{{ c.tribunal }}</td>
                                <td>{{ c.corte }}</td>
                                <td>{{ c.litigante.user }}</td>
                                <td>{{ c.fecha_ingreso }}</td>
                                <td><div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Acciones
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/admin/talleresapp/causa/{{ c.id }}/">Modificar</a>
                                        <a class="dropdown-item" href="/admin/talleresapp/causa/{{ c.id }}/delete/">Eliminar</a>
                                    </div>
                                </div></td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <script>
                                Swal.fire({
                                    'title': 'Ups',
                                    'text' : '¡No hay talleres disponibles!',
                                    'icon' : 'info'
                                })
                            </script>
                        {% endif %}
                    {% else %}
                        {% if miscausas %}
                            {% for c in miscausas %}
                                <tr>
                                    <th scope="row">{{ c.nro_causa }}</th>
                                    <td>{{ c.tribunal }}</td>
                                    <td>{{ c.corte }}</td>
                                    <td>{{ c.litigante.user }}</td>
                                    <td>{{ c.fecha_ingreso }}</td>
                                    <td><div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Acciones
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/admin/talleresapp/causa/{{ c.id }}/change/">Modificar</a>
                                            <a class="dropdown-item" href="/admin/talleresapp/causa/{{ c.id }}/delete/">Eliminar</a>
                                        </div>
                                    </div></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <script>
                                Swal.fire({
                                    'title': 'Oh oh...',
                                    'text' : '¡No existen talleres asociados!',
                                    'icon' : 'error'
                                })
                            </script>
                        {% endif %}
                    {% endif %} -->
                </tbody>
              </table>
        </div>
    </div>
</section>
<div class="modal fade" tabindex="-1" role="dialog" id="modalCausa">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-5 shadow bg-gato">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2 class="fw-bold mb-0">Cholito Login!</h2> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form method="post" class="">
                    <img class="rounded mx-auto d-block" src="" width="60%" alt="Gatito Yico te espera...">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-4" id="loginEmail" placeholder="correo@dominio.com">
                        <label for="loginEmail">Correo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" id="loginPassword" placeholder="Contraseña">
                        <label for="loginPassword">Contraseña</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit" onclick="validateForm();">Iniciar Sesión</button>
                    <hr class="my-4">
                    <h2 class="fs-5 fw-bold mb-3">No tienes cuenta?</h2>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modalRegistro" data-bs-toggle="modal" data-bs-target="#modalRegistro" type="button" aria-haspopup="true" aria-expanded="false">Registrarme</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock main %}
    
