{% extends 'layout/auth.html' %}
{% block main %}
{% load static %}
<div class="flex-1">
	<div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
		<div class="row">
			<div class="col col-md-6 col-lg-7 hidden-sm-down my-auto">
				<h2 class="fs-xxl fw-500 mt-4">
					Revisa más noticias para personas de la tercera edad
				</h2>
				<a href="https://www.mpuentealto.cl/?tag=adulto-mayor/" class="btn btn-lg text-white opacity-70" style="background-color: #236192;">ver talleres &gt;&gt;</a>
				<div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
					<div class="px-0 py-1 mt-5 text-white fs-nano opacity-50">
						Síguenos en nuestras redes
					</div>
					<div class="d-flex flex-row opacity-70">
						<a href="https://www.facebook.com/mpuentealto/" class="mr-2 fs-xxl text-white">
							<i class="fab fa-facebook-square btn-lg"></i>
						</a>
						<a href="https://www.instagram.com/mpuentealto/" class="mr-2 fs-xxl text-white">
							<i class="fab fa-instagram-square btn-lg"></i>
						</a>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
				<div class="card p-4 rounded-plus bg-faded">
					<form method="post">
						{% load crispy_forms_tags %}
						{% csrf_token %}
						{{ form | crispy}}
						<hr class="my-4">
						<button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit" onclick="validateForm();">Registrarme</button>
					</form>
					<small class="text-muted">Al hacer clic en Registrarme usted acepta los <a href="!#" class="disabled" data-bs-dismiss="modal">terminos y condiciones</a> del servicio</small>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock main %}